@font-face {
    font-family: "alataregular";
    src: url("fonts/alata-regular-webfont.woff2") format("woff2"), url("fonts/alata-regular-webfont.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
  }

body {
    background: #222;
    color: #fff;
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    font-family: "alataregular", sans-serif;
    padding-bottom: 3em;
  }

  div {
    padding-bottom: 1em;
  }
 
  #myCanvas {
    background-color: #eee;
    display: none;
    margin-left: auto;
    margin-right: auto;
  }

  #nft_image {
    display: none;
  }

  #tweet {
    opacity: 0;
  }

  #sample {
    display:block;
    margin-left: auto;
    margin-right: auto;
  }
  input {
    display:block;
    margin: 0 auto;
    padding-bottom: .5em;
    margin-bottom: 1em;
    text-align: center;
  }
  label {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.5em;
  }
  button {
    display: block;
    margin: auto;
    margin-bottom: 2em;
  }